<a href="https://colab.research.google.com/github/darman1725/Data-Analyst-Myskill/blob/main/11.%20Introduction%20to%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Getting Started

Let's start with usual introduction to programming language!\
(In slightly different way)

In [1]:
print("Halo Dek!")

Halo Dek!

# Data Types

There are several (singular) data types in Python.\
First is numeric data type, like integer, float, decimal, etc.

It is written as is, without quotes ("without this" or 'this').

In [2]:
# run this cell to see the result

print(5)
print(-13)
print(1.441)

5
-13
1.441

We can perform basic arithmetic operation to numeric.

In [3]:
# run this cell and identify the arithmetic operators below

print(5+2)
print(5-2)
print(5*2)
print(5**2)
print(5/2)
print(5//2)
print(5%2)

7
3
10
25
2.5
2
1

In [5]:
# contoh lagi

print(13/3)

# 13 = (4*3) + 1
# 13 dibagi 3 hasilnya 4, sisa 1

print(13//3) # floor function

print(13%3)

# contoh lagi
print(27**(1/3))

print(int(27**(1/3)))
print(int(28**(1/3)))

4.333333333333333
4
1
3.0
3
3

The second data type is string.\
To create a string data, use quotes.

In [6]:
print('This is a string, enclosed by a single quotes')
print("This is also a string, enclosed by a double quotes")
print('''This one is also a string, but uses three single quotes''')
print("""Another string, this time uses three double quotes""")

This is a string, enclosed by a single quotes
This is also a string, enclosed by a double quotes
This one is also a string, but uses three single quotes
Another string, this time uses three double quotes

As we see above, there are 4 types of quotes in Python.\
Let's try to understand them.

In [7]:
# what if you want to print something containing a single quotes?
# easy, just enclose them using double quote!

print("I need to print this 'single quotes'")

I need to print this 'single quotes'

In [8]:
# similar when you want to print double quotes,
# just enclose them in single quotes

print('now I will print this "double quotes"')

now I will print this "double quotes"

In [9]:
# the thing is, you have to be consistent of which one
# is the string, which one is the enclosure.
# so you can't use same type of quotes as both string and
# enclosure

print("this will return an "error"")

SyntaxError: ignored

In [10]:
print('this one will also return an 'error'')

SyntaxError: ignored

In [11]:
print("mixing 'this' and "this" will also return an error")

SyntaxError: ignored

In [12]:
# so, what if you need to mix between those two quotes?
# here is when three quotes come into the stage

print('''try to "print" this 'sentence' with so "many" combination of 'quotes'.''')

try to "print" this 'sentence' with so "many" combination of 'quotes'.

In [13]:
# just be careful that the following one will fail
# look at the series of four single quotes at the end
print('''try to "print" this 'sentence' with so "many" combination of 'quotes'''')

SyntaxError: ignored

In [14]:
# you can make variation using three double quotes
print("""try to "print" this 'sentence' with so "many" combination of 'quotes'""")

# but again, be careful to not make the code "confused" with the enclosures

try to "print" this 'sentence' with so "many" combination of 'quotes'

In [15]:
# the actual useful power of three quotes are multiple lines printing
print("""this
will
print
several
lines""")

this
will
print
several
lines

In [16]:
# whereas using one quotes will fail
print("can
you
print
this
without
error?")

SyntaxError: ignored

In [17]:
# you can write the code in several lines using single quotes
# by adding escape character \ (backslash)
# but it won't give newlines to the result

print("this\
will\
print\
one\
line")

thiswillprintoneline

In [18]:
# but you can do this workaround

print("this\nbackslash n\nis\nnewlines\ncharacter")

this
backslash n
is
newlines
character

In [19]:
# or this
print("print")
print("several")
print("lines")

print
several
lines

We can do "addition" (a.k.a contatenate) operation to the strings using +.

In [20]:
print("please" + " run " + "this" + " " + "cell")
print("t" + "h" + "a" + "n" + "k" + "s" + "!")

please run this cell
thanks!

The third data type is boolean.\
The values are True and False (without quotes).\
Notice that the first letter is uppercase and the others are lowercase.\
true, false, TRUE, FALSE won't work as boolean, because Python will\
interpret them as variables.

In [21]:
print(True)

True

In [22]:
print(True+2)

3

In [24]:
print(False + True*3)

3

In [25]:
print(False)

False

In [26]:
print(true)

NameError: ignored

In [27]:
print(false)

NameError: ignored

In [28]:
print(TRUE)

NameError: ignored

In [29]:
print(FALSE)

NameError: ignored

Python can interpret True and False automatically (without explicit casting) as 1 or 0.

In [30]:
print(True + 2)

3

In [31]:
print(False + True*3)

3

But when any non zero numbers are casted as boolean,\
they will return as True (including string type).

That's because of this simple logic:
* 0 is False
* not 0 (literally everything that is not numeric zero) is True

In [32]:
print(bool(0))
print(bool(1))
print(bool(2))
print(bool(-2))
print(bool(0.2312414))
print(bool("abc"))
print(bool("123"))
print(bool("0"))

False
True
True
True
True
True
True
True

Logical expressions also return boolean result.

In [33]:
print(5 > 2)
print(5 == 3)
print(-4 >= -1)
print(-10 <= -10)
print(5 == "5")
print(True > False)
print(True and False)
print(not (True or False) == (not True and not False))

True
False
False
True
False
True
False
True

Now we will learn how to declare variables.\
In Python, declaring variables is very simple.

In [34]:
a = 5
b = "5"

print(a)
print(b)

5
5

We don't need to declare data types as Python will automatically\
assign them depending on how we write them.

Run these three cells to compare them.

In [35]:
print(a + 5)

10

In [36]:
print(b + "5")

55

In [37]:
print(b + 5)

TypeError: ignored

Variables declaration is case-sensitive.

In [38]:
c = "lower c"
C = "UPPER C"

print(c)
print(C)

lower c
UPPER C

To modify a variable, simply rewrite them.\
To delete a variable, use command **del**.

In [39]:
# rewrite variable c
c = "new lower c"

print(c)

new lower c

In [40]:
# delete variable C
del C

print(C)

NameError: ignored

# Collection of Objects

A collection is an object that contains another objects.

The first collection that we will see is *tuple*.\
Tuples are **ordered** collection of objects.\
There are various ways to create tuples.

In [41]:
# generally, use regular brackets () to create tuples
tuple1 = (1, 2, "three", 4)
tuple2 = tuple((1, True, 1, "false"))
tuple3 = () # creates an empty tuple
print(tuple1)
print(tuple2)
print(tuple3)

(1, 2, 'three', 4)
(1, True, 1, 'false')
()

Objects or elements in tuples can be called by using index.\
Note that Python index starts from 0.\
Last element can be indexed as -1.

In [42]:
print(tuple1[1])
print(tuple2[1])
print(tuple2[-1])

2
True
false

What if we call an element that is out of index range?

In [43]:
print(tuple1[5])

IndexError: ignored

What if we call an element from empty tuple?

In [44]:
print(tuple3[0])

IndexError: ignored

Tuples are immutable.\
Once a tuple is created, we can't modify it.

In [45]:
# try to run this
tuple4 = ('a', 'b', 'c')
tuple4[0] = 'A'
print(tuple4)

TypeError: ignored

The only way to "modify" a tuple is by declaring it as a new tuple.

In [46]:
tuple4 = ('a', 'b', 'c')
tuple4 = ('A', 'b', 'c')
# or you can also do this
# tuple4 = ('A',) + tuple4[1:]
print(tuple4)

('A', 'b', 'c')

Since tuples are ordered collection, we can sort them using sorted() function.

In [49]:
tuple5 = (1, 30000, -1)
# print these three lines and figure out the differences
print(sorted(tuple5))
print(sorted(tuple5, reverse = True))
print(tuple5)

[-1, 1, 30000]
[30000, 1, -1]
(1, 30000, -1)

The next collection is *set*.

Sets are **unordered** and **unique** collection of objects.\
There are various ways to create sets.

In [50]:
# generally, use curly brackets {} to create sets
set1 = {"three", 1, 4, 2}
set2 = set((1, "1", 1, 2))
set3 = {} # creates an empty set
print(set1)
print(set2)
print(set3)

{1, 'three', 2, 4}
{1, 2, '1'}
{}

Since sets are unordered collection, we can't call the element by index.

In [51]:
print(set1[2])

TypeError: ignored

Sets are mutable: the elements inside a set can be modified.

Common methods are **.add()**, **.discard()**, and **.clear()**.

In [52]:
set4 = {3, 5, "ten", False}

set4.add(9)
print(set4)

set4.discard("ten")
print(set4)

set4.discard("huh?")
print(set4)

set4.clear()
print(set4)

{False, 3, 5, 9, 'ten'}
{False, 3, 5, 9}
{False, 3, 5, 9}
set()

Sets in Python also follow set operations like mathematical sets.\
Try to find the reference and explore it by yourself!

The next collections are *dictionary*.\
This collection is key-value pair of objects.

In [53]:
# dictionaries also use curly brackets {} to be created

luffy = {
    "Full Name": "Monkey D. Luffy",
    "Occupation": "Pirate",
    "Age": 19,
    "Origin": "East Blue"
}

print(luffy["Full Name"])
print(luffy["Age"])

Monkey D. Luffy
19

What if we call non existing key from a dictionary?

In [54]:
print(luffy["Devil Fruit"])

KeyError: ignored

The last type of collection that we will learn is the ones that we will use the most: *list*.

Lists are **ordered** and **mutable** colletion of objects.\
There are various ways to create a list.

In [55]:
# generally, use square brackets [] to create lists
list1 = [1, 2, 3, 4, 3, 2, 1]
list2 = list(("1", "2", 1, 2))
list3 = [] # creates an empty list
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 3, 2, 1]
['1', '2', 1, 2]
[]

Since lists are ordered, we can call them by index.\
We can also sort them in some order.

In [56]:
print(list1[5])
print(sorted(list1))

2
[1, 1, 2, 2, 3, 3, 4]

Lists are mutable, meaning we can modify the elements inside it.\
We can do direct declaration to any indexed elements, or we can put several methods there.

In [57]:
# direct re-declaration
A = [1, 2, 3]
A[0] = 3
print(A)

# use .append() method
A.append(4)
print(A)

# use .remove() method
A.remove(3)
print(A)

# use del command
del A[1]
print(A)

# use + operator
A = A + [10, 12, 13, 14]
print(A)

# use .pop() method (what is it?)
A.pop(0)
print(A)

[3, 2, 3]
[3, 2, 3, 4]
[2, 3, 4]
[2, 4]
[2, 4, 10, 12, 13, 14]
[4, 10, 12, 13, 14]

To print subset from lists (also working for tuples), we can slice the lists.

In [58]:
B = ["zero", "one", "two", "three", "four", "five"]

# can you figure out what happen on each line?
print(B)
print(B[:])
print(B[1:3])
print(B[:3])
print(B[1:])
print(B[:-2])
print(B[::2])
print(B[::-1])

['zero', 'one', 'two', 'three', 'four', 'five']
['zero', 'one', 'two', 'three', 'four', 'five']
['one', 'two']
['zero', 'one', 'two']
['one', 'two', 'three', 'four', 'five']
['zero', 'one', 'two', 'three']
['zero', 'two', 'four']
['five', 'four', 'three', 'two', 'one', 'zero']

# Conditions

We will learn how to use **if**, **elif**, and **else** here.

First, let's start with **if**.

In [59]:
a = 5

if a > 3:
  # indentation is mandatory here
  print(f"{a} is greater than 3")

# actually you can also do it in one line
# if a > 3: print(f"{a} is greater than 3")

5 is greater than 3

Compare it with this.

In [60]:
a = 5

if a > 10:
  print(f"{a} is greater than 10")

We can define multiple conditions by using **if** and **elif**.

In [61]:
b = 10

if b < 5:
  print(f"{b} is less than 5")
elif b < 15:
  print(f"{b} is less than 15")
elif b < 25:
  print(f"{b} is less than 25")

10 is less than 15

As we can see above, if one condition is fulfilled either in **if** or in one of **elif**s,\
the conditional checking ends.\
So though b = 10 is also less than 25 (second **elif**), it won't be executed anymore.

Last, we have **else** when any **if** or **elif** conditions don't meet.

In [62]:
c = 25

# assuming c is always integer
if c%2 == 0:
  print(f"{c} is an even integer")
else:
  print(f"{c} is an odd integer")

# try to do the variation using elif

25 is an odd integer

# Looping

Looping is the way to iterate some tasks through some iteration rules.

First type of loop is **for**.

In [63]:
for i in [1,2,3,4,5]:
  # indentation is mandatory
  print(i)

1
2
3
4
5

**For** loops through any iterables, like lists, tuples, sets, etc.\
For unordered collection like sets, it will loop through set elements sorting and non duplicated.

In [64]:
for j in (3,5,7):
  print(j + 5)

8
10
12

In [65]:
for k in {4,1,3,1,3}:
  print(k)

1
3
4

We can also print the index using enumerate() function.\
It will return as tuple (index, item).\
We can also directly separate between index and item by calling them both in the beginning.

In [66]:
for m in enumerate(["a", "b", "c"]):
  print(m)

(0, 'a')
(1, 'b')
(2, 'c')

In [67]:
for (idx, x) in enumerate(["a", "b", "c"]):
  print(f"The element at index {idx} is {x}")

The element at index 0 is a
The element at index 1 is b
The element at index 2 is c

We can also do nested for: for inside a for.

In [68]:
A = [2, 3]
B = [4, 5]

for a in A:
  for b in B:
    print(f"{a} times {b} equals to {a*b}")

2 times 4 equals to 8
2 times 5 equals to 10
3 times 4 equals to 12
3 times 5 equals to 15

Next kind of looping is **while**.

**For** loops through an iterable object, but **while** loops through some condition.

In [69]:
a = 1

while a <= 3:
  print(a)
  a += 1 # this is equivalent to a = a + 1

1
2
3

As we see there, loop will continue to happen as long as the condition meets.\
When the condition no longer meets (when a = 4), the loop stops.

As **while** will execute when the condition is true, putting **True** as the condition\
will result on infinite loop.

To make this bearable, I will put sleep command here so it won't write lines crazily.\
To stop the loop, simply press the stop button.

In [ ]:
import time

while True:
  print(1)
  time.sleep(1)

A fun example of while True is making Python clock.

In [ ]:
import time
import datetime

while True: 
  print(f"\r {datetime.datetime.now().strftime('%H:%M:%S')}", end = "") 
  time.sleep(1)

 14:21:05

There is another way to stop the loop: using **break**.

Let's say we want to know the smallest positive integer $n$ such that $2^n$ is greater than 1 billion.\
Using "normal" while, we can do this.

In [ ]:
n = 1

while 2**n <= 1000000000:
  n += 1

print(n)

Using while True with break, we can do this.

In [ ]:
n = 1

while True:
  if 2**n > 1000000000:
    break
  
  # this line below will not be executed when break happens
  n += 1

print(n)

Though they look similar, but **while True with break** actually can cater more complex cases.\
Can you think of cases that will suit **while True with break** more?